<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django Fitness{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">

        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'fitness:home_page'%}">{{ user.username }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'fitness:exercise_page'%}">Add Exercise</a></li>
                        <li><a href="{% url 'fitness:workout_page'%}">Log Workout</a></li>
                        <li><a href="{% url 'fitness:history_page'%}">History and Statistics</a></li>
                        <li class="dropdown">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'accounts:logout_user'%}">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    {% block body %}
    {% endblock %}
</body>
<hr>
<div class="container">
    <footer>
        <p>&copy; Devin Villarosa.</p>
    </footer>
</div>
</html>
