{% extends 'fitness/base.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<script>
var getExerciseName = function(){
    $.ajax({
        type: 'GET',
        url: "{% url 'fitness:exercise_name'%}",
        dataType: 'json',
        success:function(data){
            $.each(data, function(index, element) {
                $('#select_exercise').append($('<option>', {
                    text: element.name,
                    value: element.id,
                    class: "list-group-item",
                }));
            });
        }
    });
    return false;
};

var getExercise = function(){
    $.ajax({
        type: 'GET',
        url: "{% url 'fitness:create_exercise'%}",
        dataType: 'json',
        success:function(data){
            $.each(data, function(index, element) {
                $('#exercise_list').append($('<li>', {
                    text: element.name,
                    value: element.id,
                    class: "list-group-item",
                }));
            });
        }
    });
    return false;
};

$(document).ready(function(){
    var $form = $('#exercise_form');
    $form.submit(function(){
        $.post($(this).attr('action'), $(this).serialize(), function(response){
            $('#exercise_list').empty();
            getExercise();
        },'json');
        return false;
    });
});

$(document).ready(getExercise());
$(document).ready(getExerciseName());
</script>


<div class="container well">
    <h2>Enter Exercises</h2>
    <p>Enter exercises to your catalog</p>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <!--Form -->
        <div class="col-md-6">
            <h2>Enter Workouts</h2>
            <div class="form-group">
                <form action="{% url 'fitness:create_exercise'%}" method="post" id="exercise_form">
                    {% csrf_token %}
                    <label for="select_exercise">Select Exercise:</label>
                    <select class="form-control" name="name" id="select_exercise">
                        <!--Populated from AJAX Call -->
                    </select>
                    <input type="hidden" class="form-control" name="user" value="{{ user.id }}"/>
            </div>
            <input type="submit" class="btn btn-primary" name="submit" value="Enter" />
                </form>
        </div>
        <!--End Form-->

        <div class="col-md-6">
            <h2>Your Workouts</h2>
            <ul class="list-group" id="exercise_list" style="overflow-y:auto;max-height:400px;">
                <!--Populated from AJAX Call -->
            </ul>
        </div>
    </div>
</div>


{% endblock %}
